# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key

# Better Auth
BETTER_AUTH_SECRET=supersecret
BETTER_AUTH_URL=http://localhost:3000

# Supabase Database
DATABASE_URL=postgresql://postgres:password@xxx.supabase.co:5432/postgres